@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');


/* Default (light theme) */
body {
  --background-primary: #ffffff;
  --background-secondary: #dddddd31;
  --text-primary: #2D3748;
  --secondary: #4A90E2;
  --action: #6fcf97;
  --highlight: #FFC857;
  --text-background: #ffffff80;
  --color-picker1: #FFA07A;
  --color-picker2: #FFD700;
  --color-picker3: #90EE90;
  --color-picker4: #87CEFA;
  --color-picker5: #DDA0DD;
  --color-picker6: #FFA07A;
}

/* Dark theme */
body.dark {
  --background-primary: #1A202C;
  --background-secondary: #2D374880;
  --text-primary: #E2E8F0;
  --secondary: #4A90E2;
  --action: #81E6D9;
  --highlight: #F6AD55;
  --text-background: #00000060;
  --color-picker1: #D1495B;
  --color-picker2: #E9B44C;
  --color-picker3: #50A773;
  --color-picker4: #3587A4;
  --color-picker5: #8661C1;
  --color-picker6: #D1495B;
}

/* Background */

.gradient {
  position: absolute;
  margin: 50px auto;
  max-width: 640px;
  width: 90%;
  height: 100%;
  inset: 0;
  pointer-events: none;
  filter: blur(100px) saturate(150%);
  opacity: 0.15;
  background-image: 
  radial-gradient(at 27% 37%,hsla(215, 98%, 61%, 1) 0px, transparent 0%),
  radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
  radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
  radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
  radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
  radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
  radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
}

body, body.dark {
  --grid-size: 100px;
  --grid: #00000000 90deg,var(--background-secondary) 0;
  background: 
    conic-gradient(from 90deg at .75px .75px,var(--grid)),
    conic-gradient(from 90deg at .25px .25px,var(--grid)),
    var(--background-primary);
  background-size: var(--grid-size) var(--grid-size), calc(var(--grid-size)/10) calc(var(--grid-size)/10);
  font-family: "Parkinsans", serif;
  color: var(--text-primary);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

/* Color Picker */

strong {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: var(--action);
  text-decoration-thickness: 3px;
}

/* Content */

main {
 max-width: 900px;
 width: 80%;
 margin: 10px auto;
 position: relative;
}

main > section {
  margin-bottom: 200px;
}

h1 {
  font-size: clamp(2rem, 7vw, 5rem);
}

h2 {
  font-size: clamp(1.5rem, 5vw, 4rem);
}

h1, h2, h3 {
  color: var(--action);
  text-shadow: -3px 4px 6px color-mix(in srgb, var(--action) 60%, black);
  animation: float 7s infinite alternate;
}

h2::before {
  content: "// ";
  font-size: clamp(1.5rem, 5vw, 4rem);
  color: var(--action);
}

h3 {
  font-size: clamp(1.2rem, 4vw, 3rem);
}

h4 {
  font-size: clamp(1rem, 3vw, 2rem);
  margin: 5px 0;
  padding: 0;
}

h5 {
  margin: 0;
  padding: 0;
}

/* Navbar */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

nav {
  position: sticky;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: start;
  margin: 25px auto 0px ;
  width: 300px;
  top: 5px;
  padding: 5px 10px;
  border-radius: 30px;
  backdrop-filter: blur(4px);
  z-index: 1;
  box-sizing: border-box;
}

.dropdown {
  display: none;
  top: 90px;
  position: absolute;
  border-radius: 30px;
  background: var(--action);
  backdrop-filter: blur(50px);
  z-index: 1;
}

.dropdown.open {
  display: block;
}

.icon-container:hover .nav-icon,
.icon-container .dropdown.open ~ .nav-icon {
  background: var(--action);
  transform: translateY(25px) scale(1.5);
}

.nav-menu-list,
.nav-theme-list,
.nav-lang-list {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

.nav-icon {
  padding: 10px;
  border-radius: 22px;
  transition: .4s all ease-in-out;
}

.nav-icon:hover {
  background: var(--action);
  transform: translateY(25px) scale(1.5);
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: var(--text-primary);
}

.tooltip {
  display: none;
  transition: all .3s ease-in-out;
  position: absolute;
  transform: translate(20px, -5px);
  background: var(--background-secondary);
  border-radius: 25px;
  padding: 5px 10px;
  color: var(--text-primary);
  white-space: nowrap;
}

.list-icon:hover ~ .tooltip {
  display: inline;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: none;
  border: none;
  color: var(--text-primary);
  cursor: pointer;
  transition: all 0.1s;
  width: 24px;
  height: 30px;
  font-size: medium;
}

.nav-color-picker {
  display: flex;
  align-items: center;
  gap: 10px;
}

.color-picker-container {
  background-color: transparent;
}

#color-picker {
  width: 40px;
  height: 150px;
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--text-primary);
  margin: auto;
}

#color-indicator {
  position: absolute;
  left: -4px;
  width: 50px;
  height: 4px;
  background-color: var(--action);
  border: 2px solid var(--text-primary);
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
  pointer-events: none;
}

/* Hero */

#hero {
  margin: 2vh auto 20vh;
  display: flex;
  justify-content: space-between;
}

#hero p {
  font-size: clamp(0.5rem, 3vw, 2.5rem);
}

#hero .social-links {
  margin: 25px auto 25px 25px;
}

.avatar {
  margin-top: clamp(40px, 5vw, 25vw);
  width: 60vw;
  max-height: 500px;
  animation: float infinite 2s ease-in-out alternate;
  object-fit: contain;
}

.avatar-portal {
  fill: color-mix(in srgb, var(--action) 10%, black);
}

.avatar-blazer {
  fill: color-mix(in srgb, var(--action) 60%, var(--background-primary));
}

.avatar-skin {
  fill: tan;
}

.avatar-hair, .avatar-tshirt {
  fill: var(--action);
}

@media (width < 660px) {
  #hero {
    margin: 2vh auto 20vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  #hero > section {
    transform: translateY(-100px);
  }

  #hero h1 {
    margin-top: 0;
  }

  .avatar {
    max-height: 300px;
    margin-left: 200px;
  }

}

@keyframes float {
  to {
    transform: translate(4px, -12px);
  }
}

/* About */

#about .coin {
  filter: drop-shadow(-3px 4px 6px color-mix(in srgb, var(--action) 60%, black));
}

#about .spin {
  width: 30vw;
  height: 30vw;
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
  display: flex;
	align-items: center;
	justify-content: center;
  transform-style: preserve-3d;
  transition: all 1.5s;
  float: left;
  padding: 5px;
  margin-left: 5px;
  margin-right: 20px;
  perspective: 1000px;
  shape-outside: circle(50%);
}

#about .coin:hover .spin{
  transform: rotateX(180deg) translate3d(0,0,0);
}

#about svg {
  width: 30vw;
  height: 30vw;
  max-width: 300px;
  max-height: 300px;
  position: absolute;
  backface-visibility: hidden;
}

.coin-tails {
  transform: rotateX(180deg) translate3d(0,0,0);
}

.about-draw-background {
  fill: color-mix(in srgb, var(--action) 50%, white);
  stroke: color-mix(in srgb, var(--action) 10%, black);
}

.about-draw-dark,
.about-draw-background-details,
.about-draw-book {
  fill: color-mix(in srgb, var(--action) 60%, black);
}

.about-draw-background-circle {
  stroke: color-mix(in srgb, var(--action) 60%, black);
}

.about-draw-light,
.about-draw-screen-light,
.about-draw-arrow {
  fill: color-mix(in srgb, var(--action) 60%, white);
}

.about-draw-screen-dark {
  fill: color-mix(in srgb, var(--action) 80%, white);
}

.about-draw-black,
.about-draw-background-main,
.about-draw-text {
  fill: color-mix(in srgb, var(--action) 10%, black);
}

.about-draw-white,
.about-draw-computer,
.about-draw-vegan {
  fill: color-mix(in srgb, var(--action) 10%, white);
}

/* Skills */

.block-grid {
  --block-grid-columns: 10;
  display: grid;
  grid-template-columns: repeat(var(--block-grid-columns), 80px);
  justify-content: center;
  align-items: center;
}

@media (width > 1024px) {
  .block:nth-last-child(1) { grid-column: calc(var(--block-grid-columns) / 2); grid-row: 1; }

  .block:nth-last-child(2) { grid-column: calc(var(--block-grid-columns) / 2 - 1); grid-row: 2; }
  .block:nth-last-child(3) { grid-column: calc(var(--block-grid-columns) / 2 + 1); grid-row: 2; }

  .block:nth-last-child(4) { grid-column: calc(var(--block-grid-columns) / 2 - 2); grid-row: 3; }
  .block:nth-last-child(5) { grid-column: calc(var(--block-grid-columns) / 2); grid-row: 3; }
  .block:nth-last-child(6) { grid-column: calc(var(--block-grid-columns) / 2 + 2); grid-row: 3; }

  .block:nth-last-child(7) { grid-column: calc(var(--block-grid-columns) / 2 - 3); grid-row: 4; }
  .block:nth-last-child(8) { grid-column: calc(var(--block-grid-columns) / 2 - 1); grid-row: 4; }
  .block:nth-last-child(9) { grid-column: calc(var(--block-grid-columns) / 2 + 1); grid-row: 4; }
  .block:nth-last-child(10) { grid-column: calc(var(--block-grid-columns) / 2 + 3); grid-row: 4; }

  .block:nth-last-child(11) { grid-column: calc(var(--block-grid-columns) / 2 - 4); grid-row: 5; }
  .block:nth-last-child(12) { grid-column: calc(var(--block-grid-columns) / 2 - 2); grid-row: 5; }
  .block:nth-last-child(13) { grid-column: calc(var(--block-grid-columns) / 2); grid-row: 5; }
  .block:nth-last-child(14) { grid-column: calc(var(--block-grid-columns) / 2 + 2); grid-row: 5; }
  .block:nth-last-child(15) { grid-column: calc(var(--block-grid-columns) / 2 + 4); grid-row: 5; }
}

@media (660px <= width <= 1024px) {
  .block:nth-last-child(1) { grid-column: calc(var(--block-grid-columns) / 2); grid-row: 1; }

  .block:nth-last-child(2) { grid-column: calc(var(--block-grid-columns) / 2 - 1); grid-row: 2; }
  .block:nth-last-child(3) { grid-column: calc(var(--block-grid-columns) / 2 + 1); grid-row: 2; }

  .block:nth-last-child(4) { grid-column: calc(var(--block-grid-columns) / 2 - 2); grid-row: 3; }
  .block:nth-last-child(5) { grid-column: calc(var(--block-grid-columns) / 2); grid-row: 3; }
  .block:nth-last-child(6) { grid-column: calc(var(--block-grid-columns) / 2 + 2); grid-row: 3; }

  .block:nth-last-child(7) { grid-column: calc(var(--block-grid-columns) / 2 - 3); grid-row: 4; }
  .block:nth-last-child(8) { grid-column: calc(var(--block-grid-columns) / 2 - 1); grid-row: 4; }
  .block:nth-last-child(9) { grid-column: calc(var(--block-grid-columns) / 2 + 1); grid-row: 4; }
  .block:nth-last-child(10) { grid-column: calc(var(--block-grid-columns) / 2 + 3); grid-row: 4; }

  .block:nth-last-child(11) { grid-column: calc(var(--block-grid-columns) / 2 - 2); grid-row: 5; }
  .block:nth-last-child(12) { grid-column: calc(var(--block-grid-columns) / 2); grid-row: 5; }
  .block:nth-last-child(13) { grid-column: calc(var(--block-grid-columns) / 2 + 2); grid-row: 5; }
  
  .block:nth-last-child(14) { grid-column: calc(var(--block-grid-columns) / 2 - 1); grid-row: 6; }
  .block:nth-last-child(15) { grid-column: calc(var(--block-grid-columns) / 2 + 1); grid-row: 6; }
}

@media (460px <= width <= 660px) {
  .block:nth-last-child(1) { grid-column: calc(var(--block-grid-columns) / 2 - 1); grid-row: 1; }
  .block:nth-last-child(2) { grid-column: calc(var(--block-grid-columns) / 2 + 1); grid-row: 1; }
  
  .block:nth-last-child(3) { grid-column: calc(var(--block-grid-columns) / 2 - 2); grid-row: 2; }
  .block:nth-last-child(4) { grid-column: calc(var(--block-grid-columns) / 2); grid-row: 2; }
  .block:nth-last-child(5) { grid-column: calc(var(--block-grid-columns) / 2 + 2); grid-row: 2; }
  
  .block:nth-last-child(6) { grid-column: calc(var(--block-grid-columns) / 2 - 1); grid-row: 3; }
  .block:nth-last-child(7) { grid-column: calc(var(--block-grid-columns) / 2 + 1); grid-row: 3; }
  
  .block:nth-last-child(8) { grid-column: calc(var(--block-grid-columns) / 2 - 2); grid-row: 4; }
  .block:nth-last-child(9) { grid-column: calc(var(--block-grid-columns) / 2); grid-row: 4; }
  .block:nth-last-child(10) { grid-column: calc(var(--block-grid-columns) / 2 + 2); grid-row: 4; }
  
  .block:nth-last-child(11) { grid-column: calc(var(--block-grid-columns) / 2 - 1); grid-row: 5; }
  .block:nth-last-child(12) { grid-column: calc(var(--block-grid-columns) / 2 + 1); grid-row: 5; }
  
  .block:nth-last-child(13) { grid-column: calc(var(--block-grid-columns) / 2 - 2); grid-row: 6; }
  .block:nth-last-child(14) { grid-column: calc(var(--block-grid-columns) / 2); grid-row: 6; }
  .block:nth-last-child(15) { grid-column: calc(var(--block-grid-columns) / 2 + 2); grid-row: 6; }
}

@media ( width < 460px) {
  .block:nth-last-child(1) { grid-column: calc(var(--block-grid-columns) / 2 - 1); grid-row: 1; }
  .block:nth-last-child(2) { grid-column: calc(var(--block-grid-columns) / 2 + 1); grid-row: 1; }
  
  .block:nth-last-child(3) { grid-column: calc(var(--block-grid-columns) / 2); grid-row: 2; }

  .block:nth-last-child(4) { grid-column: calc(var(--block-grid-columns) / 2 - 1); grid-row: 3; }
  .block:nth-last-child(5) { grid-column: calc(var(--block-grid-columns) / 2 + 1); grid-row: 3; }
  
  .block:nth-last-child(6) { grid-column: calc(var(--block-grid-columns) / 2); grid-row: 4; }

  .block:nth-last-child(7) { grid-column: calc(var(--block-grid-columns) / 2 - 1); grid-row: 5; }
  .block:nth-last-child(8) { grid-column: calc(var(--block-grid-columns) / 2 + 1); grid-row: 5; }

  .block:nth-last-child(9) { grid-column: calc(var(--block-grid-columns) / 2); grid-row: 6; }

  .block:nth-last-child(10) { grid-column: calc(var(--block-grid-columns) / 2 - 1); grid-row: 7; }
  .block:nth-last-child(11) { grid-column: calc(var(--block-grid-columns) / 2 + 1); grid-row: 7; }

  .block:nth-last-child(12) { grid-column: calc(var(--block-grid-columns) / 2); grid-row: 8; }

  .block:nth-last-child(13) { grid-column: calc(var(--block-grid-columns) / 2 - 1); grid-row: 9; }
  .block:nth-last-child(14) { grid-column: calc(var(--block-grid-columns) / 2 + 1); grid-row: 9; }

  .block:nth-last-child(15) { grid-column: calc(var(--block-grid-columns) / 2); grid-row: 10; }
}


.block-body {
  fill: var(--action);
}

.block-border {
  stroke: color-mix(in srgb, var(--action) 10%, black);
  stroke-width: 4;
  fill: none;
}

.block {
  position: relative; 
  display: inline-block;
  width: 160px;
  height: 64px;
  transition: all .3s ease-in-out;
  overflow: visible;
}

.block:active {
  margin-top: 35px;
  margin-bottom: 35px;
}

.block-grid:hover .block:not(:hover) {
  filter: brightness(.8);
}

.block-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-primary);
  font-size: x-large;
  font-weight: 400 ;
}

/* Journey */

#journey {
  position: relative;;
}

#journey-switcher {
  display: none;
}

#journey-switcher:checked ~ #journey-short {
  display: none;
}

#journey-switcher ~ #journey-long {
  display: none;
}
#journey-switcher:checked ~ #journey-long {
  display: block;
}

/* switch zip*/

#journey label.journey-zoom {
  position: absolute;
  right: 0;
  transform: translate(-5vw, -10vh);
  filter: drop-shadow(-3px 4px 6px color-mix(in srgb, var(--action) 60%, black));
}

.zip-file-border figure {
  margin: 0;
}

.zip-file-border {
  margin: 0;
  position: relative;
  background: var(--action);
  border: 4px color-mix(in srgb, var(--action) 10%, black) solid;
  width: 150px;
  height: 200px;
  clip-path: polygon(0 0, 66.66% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
  border-radius: 3%;
}

.zip-file-corner {
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: color-mix(in srgb, var(--action) 10%, black);
  right: 0;
  top: 0;
  border-radius: 0 0 0 20%;
}

.zip-file-zipper-line {
  position: absolute;
  width: 50%;
  height: 150px;
  border-color: color-mix(in srgb, var(--action) 10%, black);
  border-width: 6px;
  border-style: dotted none none dotted;
  transition: .3s ease-in-out border-radius;
  box-sizing: border-box;
}

.left {
  transform: scaleX(-1);
  top: -10px;
}

.right {
  top: -18px;
  right: 0px
}

#journey-switcher:hover + label .zip-file-zipper-line {
  border-radius: 50% 0 0 0;
}

#journey-switcher:checked + label .zip-file-zipper-line {
  border-radius: 100% 0 0 0;
}

#journey-switcher:checked:hover + label .zip-file-zipper-line {
  border-radius: 70% 0 0 0;
}

.zip-file-slider {
  position: absolute;
  background-color: transparent;
  width: 20px;
  height: 30px;
  top: 0;
  left: 43%;
  border-color: color-mix(in srgb, var(--action) 10%, black);
  border-width: 10px;
  border-style: solid;
  border-radius: 50% 50% 40% 40% / 60% 60% 20% 20%;
  transition: .3s ease-in-out top;
  box-sizing: border-box;
  animation: infinite 2s ease-in-out swing;
  transform-origin: top center;
  filter: drop-shadow(-3px 4px 6px color-mix(in srgb, var(--action) 60%, black));
}

@keyframes swing {
  25% {
    transform: rotate(-30deg);
  }

  75% {
    transform: rotate(30deg);
  }
}

#journey-switcher:hover + label .zip-file-slider {
  top: 40px;
}

#journey-switcher:checked + label .zip-file-slider {
  top: 140px
}

#journey-switcher:checked:hover + label .zip-file-slider {
  top: 90px
}

.zip-file-text {
  position: absolute;
  bottom: 0 ;
  font-weight: 900;
  font-size: xxx-large;
  padding: 0;
  color: color-mix(in srgb, var(--action) 90%, black);
}

/* switch */


.zip-file-border ~ .tooltip {
  display: none;
  top: 0;
  transform: translateY(-50px);
}

.zip-file-border:hover ~ .tooltip {
  display: inline;
}

#journey ul {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
}

#journey ul::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: var(--action);
  border-radius: calc(var(--line-w) / 2);
  filter: brightness(.8) saturate(.6);
}

#journey ul li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

#journey ul li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

#journey ul li {
  --accent-color: var(--action);
}

#journey ul li:nth-child(2) .journey-date {
  --accent-color: color-mix(in srgb, var(--action) 90%, var(--background-primary));
}
#journey ul li:nth-child(3) .journey-date {
  --accent-color: color-mix(in srgb, var(--action) 80%, var(--background-primary));
}
#journey ul li:nth-child(4) .journey-date {
  --accent-color: color-mix(in srgb, var(--action) 70%, var(--background-primary));
}
#journey ul li:nth-child(5) .journey-date {
  --accent-color: color-mix(in srgb, var(--action) 60%, var(--background-primary));
}
#journey ul li:nth-child(6) .journey-date {
  --accent-color: color-mix(in srgb, var(--action) 50%, var(--background-primary));
}
#journey ul li:nth-child(7) .journey-date {
  --accent-color: color-mix(in srgb, var(--action) 40%, var(--background-primary));
}

#journey ul li .journey-date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);
  text-align: center;
  background-color: var(--accent-color);
  color: var(--text-primary);
  font-size: 1.25rem;
  font-weight: 700;
  display: grid;
  place-content: center;
  position: relative;
  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

#journey ul li .journey-date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

#journey ul li .journey-date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--background-primary);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

#journey ul li .journey-title,
#journey ul li .journey-text {
  position: relative;
  padding-inline: 1.5rem;
}

#journey ul li .journey-title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
}

#journey ul li .journey-text {
  padding-block-end: 1.5rem;
  font-weight: 300;
}

@media (min-width: 40rem) {
  #journey ul {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  #journey ul::before {
    grid-column: 2;
  }
  #journey ul li:nth-child(odd) {
    grid-column: 1;
  }
  #journey ul li:nth-child(even) {
    grid-column: 3;
  }

  #journey  ul li:nth-child(2) {
    grid-row: 2/4;
  }

  #journey ul li:nth-child(odd) .journey-date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  #journey ul li:nth-child(odd) .journey-date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  #journey ul li:nth-child(odd) .journey-date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}



/* Projects */

#projects {
  position: relative;
}

#prev-btn, #next-btn {
  position: absolute;
  transform: scale(6);
  color: var(--action);
  top: 60%;
}

#next-btn {
  left: 100%;
}

article {
  width: 80%;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}

.project-image {
  width: 100%;
  aspect-ratio: 10 / 8;
  object-fit: cover;
}

.image-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  width: 80%;
  height: 80%;
  top: 0;
  padding: 3% 10% 3%;
  color: var(--text-primary);
  background-color: var(--text-background);
  backdrop-filter: blur(5px);
  transform: translateY(90%);
  transition: transform .5s ease-in-out;
}

.image-text:hover {
  transform: translateY(15%);
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.project-header h3 {
  font-size: xx-large;
  margin: 0;
}

.stack {
  display: flex;
  list-style: none;
  align-items: end;
  gap: 10px;
  padding: 0;
  margin: 10px 0;
}

.stack li {
  background: var(--action);
  padding: 3px 8px;
  border-radius: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  background: var(--action);
}

.project-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}

.project-description, .project-learnings {
  margin: 0;
  padding: 0;
}

.project-learnings {
  list-style: none;
}

.tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  list-style: none;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.code-btn,
.demo-btn {
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.code-btn {
  background: var(--highlight);
  margin-right: 5px;
}

.demo-btn {
  background: var(--action);
}

.links .tooltip {
  display: none;
  transition: all .3s ease-in-out;
  position: absolute;
  transform: translate(0px, -40px);
  background: var(--background-secondary);
  border-radius: 25px;
  padding: 5px 10px;
  color: var(--text-primary);
  white-space: nowrap;
}

.code-btn:hover + .tooltip,
.demo-btn:hover + .tooltip {
  display: inline;
}

.project {
  display: none;
  aspect-ratio: 10 / 8;
}

.project-visibility {
  display: block;
}

/* contact me  footer*/

#footer {
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 25px auto 0px ;
  width: 80%;
  padding: 5px 10px;
  border-radius: 30px 30px 0 0px;
  box-sizing: border-box;
}

.footer-quote {
  text-shadow: -1px 2px 4px color-mix(in srgb, var(--action) 60%, black);
}

.social-links {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: start;
  margin: 25px auto;
  width: 300px;
  top: 5px;
  padding: 5px 10px;
  border-radius: 30px;
  backdrop-filter: blur(4px);
  box-sizing: border-box;
}

.contact-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 10px;
  border-radius: 22px;
  transition: 0.4s all ease-in-out;
}

.contact-icon svg {
  width: 24px;
  height: 24px;
}

.contact-icon:hover {
  background: var(--action);
  transform: translateY(25px) scale(1.5);
}

.contact-icon ~ .tooltip {
  top: 0px;
}

.contact-icon:hover ~ .tooltip {
  display: inline;
  transform: translate(-30px, -20px);
}

.svg-icon {
  fill: var(--text-primary);
}

.footer-copyright {
  margin-top: 50px;
}