/* Default (light theme) */
body {
  --background-primary: #F8F9FA;
  --background-secondary: #E4E8EB80;
  --text-primary: #2D3748;
  --secondary: #4A90E2;
  --action: #6FCF97;
  --highlight: #FFC857;
}

/* Dark theme */
body.dark {
  --background-primary: #1A202C;
  --background-secondary: #2D374880;
  --text-primary: #E2E8F0;
  --secondary: #4A90E2;
  --action: #81E6D9;
  --highlight: #F6AD55;
}

body, body.dark {
  color: var(--text-primary);
  background: 
    linear-gradient(135deg, var(--background-secondary) 50%, transparent 0),
    linear-gradient(-135deg, var(--background-secondary) 50%, transparent 0);
  background-size: 1.5em 1.5em;
  background-color: var(--background-primary);
  margin: 50px auto;
  width: 60%;
}
.color-picker {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.color-display {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--action);
}

strong {
  font-weight: bold;
}