/* Default (light theme) */
body {
  --background-primary: #00000000;
  --background-secondary: #dddddd31;
  --text-primary: #2D3748;
  --secondary: #4A90E2;
  --action: #6FCF97;
  --highlight: #FFC857;
}

/* Dark theme */
body.dark {
  --background-primary: #1A202C;
  --background-secondary: #2D374880;
  --text-primary: #E2E8F0;
  --secondary: #4A90E2;
  --action: #81E6D9;
  --highlight: #F6AD55;
}

/* Background */

.gradient {
  position: absolute;
  margin: 50px auto;
  max-width: 640px;
  width: 90%;
  height: 100%;
  inset: 0;
  pointer-events: none;
  filter: blur(100px) saturate(150%);
  opacity: 0.15;
  background-image: 
  radial-gradient(at 27% 37%,hsla(215, 98%, 61%, 1) 0px, transparent 0%),
  radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
  radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
  radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
  radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
  radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
  radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
}

body, body.dark {
  --grid-size: 100px;
  --grid: #00000000 90deg,var(--background-secondary) 0;
  background: 
    conic-gradient(from 90deg at .75px .75px,var(--grid)),
    conic-gradient(from 90deg at .25px .25px,var(--grid)),
    var(--background-primary);
  background-size: var(--grid-size) var(--grid-size), calc(var(--grid-size)/10) calc(var(--grid-size)/10);
  color: var(--text-primary);
  height: 100vh;
  width: 100vw;
}

/* Color Picker */

.color-picker {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.color-display {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--action);
}

strong {
  font-weight: bold;
}

/* Content */

main {
 max-width: 900px;
 width: 80%;
 margin: 50px auto;
}

/* Navbar */



